<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8">
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Assistant Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">Theater Messenger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/engineer">Sound Engineer</a></li>
                <li><a href="/assistant">Sound Assistant</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Message:</h1>
    <p><br/></p>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role Name</th>
                <th>Mic Number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="problem: ${messages}" class="text-left">
                <td th:text="${problem.name}">Action</td>
                <td th:text="${problem.actor.firstName}">First Name</td>
                <td th:text="${problem.actor.lastName}">Last Name</td>
                <td th:text="${problem.actor.roleName}">Role Name</td>
                <td th:text="${problem.actor.micNumber}">Mic Number</td>
                <td>
                    <a th:href="@{/assistant/{id}(id=${problem.id})}"
                       class="btn btn-default">
                        Problem fixed
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>


