<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8">
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Create Message Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">Theater Messenger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/engineer">Sound Engineer</a></li>
                <li><a href="/assistant">Sound Assistant</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">

    <div th:if="${success}" class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Your message has been sent.
    </div>
    <p><br/></p>
    <form class="form-inline" th:action="@{/createmessage}" method="post">
        <h3>Select Problem:</h3>
        <div class="form-group">

            <div th:each="problem: ${problems}" id="donate">

                <label class="yellow">
                    <input type="radio" name="problem" th:value="${problem}">
                    <span th:text="${problem}">Problem Type</span>
                </label>

            </div>
        </div>
        <input type="hidden" name="projectId" th:value="${projectId}"/>
        <div>
            <p><br/></p>
            <p><br/></p>
            <h3>Select Actor:</h3>
            <div th:each="actor: ${actors}" class="form-group">

                <button type="submit" name="actorId" th:value="${actor.id}" class="btn actorButton btn-default">

                    <span th:text="${actor.firstName}"></span>
                    <span th:text="${actor.lastName}"></span><br>
                    <span th:text="${actor.roleName}"></span><br>
                    <span>MicNr: </span>
                    <span th:text="${actor.micNumber}"></span>

                </button>
            </div>
        </div>
    </form>
    <p><br/></p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>